body {
    min-height: 100vw;
    min-width: 100vw;
    background-color: black;
    color: white
}

h1 {
    padding-top: 30px;
    text-align: center;
    font-weight: 700;
    font-size: 90px;
    color: lightcoral;
}

p {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    margin: 25px;
}

.actions {
    display: flex;
    justify-content: center;
}


.actions button {
    padding: 8px 16px;
    font-size: 20px;
    border-radius: 10px;
    background-color: rgb(234, 169, 48);
    color: white
}

.grid-container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(5, 125px);
    grid-template-rows: 4;
    justify-content: center;
    padding: 20px;
    width: 700px;
    height: 720px;
    background-color: beige;
    margin: auto;
    border: 10px solid lightpink;
}


.card {
    height: 175px;
    width: 125px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    width: 125px;
    height: 175px;
    border-radius: 10px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
}

.card .back {
    background-image: url('./images/twice-logo.png');
    background-position: center;
    background-size: cover;
}


/* bottom half of page (group pic, pic shake, alert button) */
#photo2 {
    text-align: center;
    padding: 100px;
}

#photo2 img:hover{
    animation: shake 0.5s;
    animation-iteration-count: 1;
}

img {
    display: block;
    margin: 0px auto;
}

@keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0);}
    20%, 80% {transform: translate3d(2px, 0, 0);}
    30%, 50%, 70% {transform: translate3d(-4px, 0, 0);}
    40%, 60% {transform: translate3d(4px, 0, 0);}
}

button {
    display: block;
    margin: 0px auto;
}

#groupPic {
    width: 205px;
    height: 50px;
    background-color: lightcoral;
    color :white;
    font-family: "Bodoni Poster", serif;
    font-weight: 700;
    font-size: large;
    padding: 8px, 16px;
    margin-top: 20px;
    display: block;
}

